{template 'header'}
<div class="m">
	<div class="lf_nav">
		<a href="{$MOD['linkurl']}"><h3 class="title">{$MOD['name']}</h3></a>
		<div class="active" id="sidebar">
			{loop $maincat $k $v}
			<dl class="list-none navnow">
				<dt id="part2_80" class="">
					<a href="{$MOD[linkurl]}{$v[linkurl]}" title="{$v['catname']}" class="zm"><span>{$v['catname']}</span></a>
				</dt>
			</dl>
			{/loop}
			<div class="clear"></div>
		</div>
    </div>
	
	<div class="ri_main">
		<h3 class="title">
			<div class="position" id="ny_navx">当前位置：<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {$title}</div>
			<span>{$CAT['catname']}</span>
		</h3>
		<div class="clr"></div>
		<div class="active" id="shownews">
            <h1 class="title">{$title}</h1>
			<div class="met_hits">
				发布日期：{$adddate}&nbsp;&nbsp;
				{if $copyfrom}&nbsp;&nbsp;来源：{if $fromurl}<a href="{$fromurl}" target="_blank">{/if}{$copyfrom}{if $fromurl}</a>{/if}{/if}
				{if $author}&nbsp;&nbsp;作者：{$author}{/if}
				&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span>
				【<a href="javascript:window.print()">打印此页</a>】&nbsp;&nbsp;【<a href="javascript:self.close()">关闭</a>】
			</div>
			{if $introduce}<div class="introduce">核心提示：{$introduce}</div>{/if}
			<div class="editor">
				{$content}
				<div class="clear"></div>
				{if $keytags}
				<div class="keytags">
					<strong>关键词：</strong>
					{loop $keytags $t}
						&nbsp;&nbsp;<span>{$t}</span>&nbsp;&nbsp;
					{/loop}
				</div>
				{/if}
			</div>
		</div>
		<div class="clear"></div>
		
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="b10"></div>
{template 'footer'}