var destoon_userid = {$_userid};
var destoon_username = '{$_username}';
var destoon_message = {$_message};
var destoon_chat = {$_chat};
var destoon_stip = '';
var destoon_member = '<img src="{DT_SKIN}image/user.gif" width="24" height="13" align="absmiddle"/>&nbsp; 欢迎，';
{if $_userid}
destoon_member += '<span class="f_red f_b" title="{$MG[groupname]}">{$_truename}</span> (<a href="{$MODULE[2][linkurl]}line.php" title="{if $_online}点击隐身{else}点击上线{/if}">{if $_online}<span class="f_green">在线</span>{else}<span class="f_gray">隐身</span>{/if}</a>) | <a href="{$MODULE[2][linkurl]}">商务中心</a> | <a href="{$MODULE[2][linkurl]}record.php">{$DT[money_name]}(<span class="px11">{$_money}</span>)</a> | <a href="{$MODULE[2][linkurl]}credit.php">{$DT[credit_name]}(<span class="px11">{$_credit}</span>)</a> | <a href="{$MODULE[2][linkurl]}logout.php">退出</a>';
{else}
destoon_member += '<span class="f_red">客人</span> | <a href="{$MODULE[2][linkurl]}{$DT[file_register]}">免费注册</a> | <a href="{$MODULE[2][linkurl]}{$DT[file_login]}">会员登录</a> | <a href="{$MODULE[2][linkurl]}send.php">忘记密码?</a>';
{/if}
try{Dd('destoon_member').innerHTML=destoon_member;}catch(e){}
{if $DT[city]}
try{Dd('destoon_city').innerHTML='{$city_name}';}catch(e){}
{/if}
{if $_message}
Dd('destoon_message').innerHTML='<strong class="f_red">{$_message}</strong>';
{if $_sound}destoon_stip += sound('message_{$_sound}');{/if}
{/if}
{if $_chat && $DT[im_web]}
Dd('destoon_chat').innerHTML='<strong class="f_red">{$_chat}</strong>';
destoon_stip += sound('chat_new');
{/if}
var destoon_cart = substr_count(get_cookie('cart'), ',');
if(destoon_cart > 0) Dd('destoon_cart').innerHTML='<strong class="f_red">'+destoon_cart+'</strong>';
if(destoon_stip) Dd('tb_c').innerHTML = destoon_stip;
{if $push && $DT[pushtime]}window.setInterval('PushNew()',{$DT[pushtime]}*1000);{/if}